@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333;
  line-height: 1.5;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 50%;
  width: 200px;
  max-height: 50%;
  height: 200px;
  height: auto;
  display: block;
}

header span{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

header h1 {
  padding: 0.5rem 1rem;
  background-color: white;
  color: #3d0063;
  font-size: 2rem;
  border-radius: 5px;
}

#menu {
  font-size: 1.5rem;
  border: none;
  background: none;
  color: white;
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  z-index: 1000;
  background-color: #3d0063;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

#menu::before {
  content: '☰';
}

#menu.open::before {
  content: '✖';
}

nav {
  background-color: #3d0063;
}

.navigation {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.navigation li a {
  display: block;
  padding: 1rem;
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.navigation li a:hover {
  background-color: white;
  color: #3d0063;
  border-radius: 5px;
  font-weight: 700;
}

.navigation li a.active {
  background-color: #6e17a8;
  font-weight: 700;
}

main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.home{
  color: #3d0063;
}

.card1 h2, .card2 h2, .card3 h2 {
border-radius: 10px;
 background-color: #6e17a8;
 padding: 15px;
 margin-top: 0;
 margin-bottom: 0;
}

.card1 {
  background-color: #3d0063;
  grid-column: 1/3 ;
  color: white;
  border-radius: 5px;
}

.card2 {
  background-color: #3d0063;
  grid-column: 3/5 ;
  color: white;
  border-radius: 5px;
}

.card2 img{
  padding: 15px;
}

.card3 {
  background-color: #3d0063;
  grid-column: 1/5 ;
  text-align: center;
  color: white;
  border-radius: 5px;
}

.controls {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.controls button {
  padding: 0.5rem 1rem;
  background-color: #6e17a8;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.controls button:hover {
  background-color: #04d361;
  color: #14181B;
}

#total-credits {
  font-weight: bold;
  color: #04d361;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.course-card {
  background-color: #3d0063;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  border: 5px solid white;
  text-align: left;
}

.course-card.completed {
  background-color: #3d0063;
  color: white;
  border-color: #04d361;
}

footer {
  text-align: center;
  background-color: #3d0063;
  color: #fafafa;
  padding: 1rem;
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}


@media (max-width: 768px) {
  header h1 {
    font-size: 1.5rem;
  }

  #menu {
    display: block;
  }

  .navigation {
    flex-direction: column;
    display: none;
    background-color: #3d0063;
    width: 100%;
  }

  .navigation.open {
    display: flex;
  }

  main {
    grid-template-columns: 1fr;
  }

  .card1, .card2, .card3 {
    grid-column: 1/2;
  }

  header span{
    text-align: center;
  }
}